body {font-family: Arial, Helvetica, sans-serif;}

.login{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

}

form {
    border: 3px solid #f1f1f1;
    padding: 10px;
    width: 500px;
    background-color: #eed390;
}

h2{
    text-align: center;
}
label{
    margin-left: 20px;
}
input[type=text], input[type=email],input[type=password]
 {
  width: 90%;
  padding: 12px 20px;
  margin: 20px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
}

.cancelbtn {

  padding: 10px 18px;
  background-color: #f44336;
}

span.psw {
  float: right;
  padding-top: 16px;
}


  
