
.register{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    height: 100%;
}

.btn-register{
    margin: 10px 0;
}
.regPage{
    margin-top: 80px;
}