body{
  font-family: 'Helvetica';
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  /* overflow: hidden; */
}

.body{
  display: flex;
  flex-direction: column;
  height: 100%;
}
#root{
  flex:1;
  padding-top: 61px;
}

.App {
  text-align: center;
  height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.brand {
  font-size: 28px;
  text-align: center;
  font-weight: bold;
  color: black;
  min-width: 150px;
}

.topnav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #e8c673;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px
}

.menu-items{
  flex:1;
  display: flex;
  align-items: center;
  justify-content: end;
  height: 100%;

}
.search{
  flex:1;
  
  display: flex;
  justify-content: end;
}
.search > input{
  width: 100%;
  max-width: 463px;
}

.menuItem {
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;

}

#btnNumItems {
  background-color: #0022ff;
  border-radius: 8px;
  border: none;
  color: #ffffff;
  width: 1.5rem;
  padding: 0;
  margin: 0px;
  font-size: 14px;
  font-weight: bold;
}